---
http_interactions:
- request:
    method: get
    uri: https://connect-testing.secupay-ag.de/api/v2/Payment/Contracts/GCR_W27MYFEB7VYQ4AYXUSFZD278H8AWOX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer t4oq2h470o2ktqg0elfdbjnhek
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en_GB
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"general.contracts","id":"GCR_W27MYFEB7VYQ4AYXUSFZD278H8AWOX","id_old":1142838,"approved":true,"created":"2022-02-13T21:58:01+01:00","merchant":{"object":"general.merchants","id":"MRC_WVHJQFQ4JNVYNG5B55TYK748ZCHQP8"}}'
  recorded_at: Sun, 13 Feb 2022 20:58:01 GMT
recorded_with: VCR 6.0.0
