---
http_interactions:
- request:
    method: post
    uri: https://connect-testing.secupay-ag.de/oauth/token
    body:
      encoding: UTF-8
      string: client_id=09ae83af7c37121b2de929b211bad944&client_secret=9c5f250b69f6436cb38fd780349bc00810d8d5051d3dcf821e428f65a32724bd&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"8ej26rvo6pnj4ea26p6t2258od","expires_in":1200,"token_type":"bearer","scope":"https:\/\/scope.secucard.com\/e\/api"}'
  recorded_at: Mon, 14 Feb 2022 09:16:40 GMT
recorded_with: VCR 6.0.0
