---
http_interactions:
- request:
    method: post
    uri: https://connect-testing.secupay-ag.de/api/v2/Payment/Contracts/GCR_W27MYFEB7VYQ4AYXUSFZD278H8AWOX/RequestID
    body:
      encoding: UTF-8
      string: '{"contact":{"salutation":"Mr","forename":"John","surname":"Doe","dob":"1980-02-03","email":"john.doe@example.com","mobile":"","address":{"street":"Test
        Street","street_number":"6","postal_code":"01234","city":"Examplecity","country":"Germany"}},"project":"project_name
        1642970813 Test 47bf6e21-494f-4da5-a919-14c1e4dd46f2","payout_account":{"iban":"DE89370400440532013000","bic":"","owner":"Test
        1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer c92ekgjtmoh7ut6oerrt38e7s3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en_GB
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"general.contracts","id":"GCR_WRG7H77A3NG6HZ8NJ0U5NAZ900W2O3","id_old":2000443,"parent":{"object":"general.contracts","id":"GCR_W27MYFEB7VYQ4AYXUSFZD278H8AWOX"},"merchant":{"object":"general.merchants","id":"MRC_K4XA5F344PAN05HF58JT3Y48002CN5"},"approved":false,"created":"2022-01-23T21:46:53+01:00","apikey":"7770468b8813e754d0985ff3475dc1514315e0d9","contract":{"object":"general.contracts","id":"GCR_WRG7H77A3NG6HZ8NJ0U5NAZ900W2O3"}}'
  recorded_at: Sun, 23 Jan 2022 20:46:53 GMT
recorded_with: VCR 6.0.0
